.nav-ul li {
  display: inline-block;
  padding: 10px;
}

.nav-ul li a {
  color: #fff;
  padding: 5px;
  text-decoration: none;
}

.nav-ul {
  padding: 5px;
  margin: 0;
  background-color: skyblue;
}

.nav-right {
  text-align: right;
}

.logoutLink {
  margin-left: 803px;
}

.logo {
  width: 75px;
  float: left;
  margin-top: -9px;
  margin-left: 20px;
}

.deleteProduct {
  width: 20px;
  margin-top: -3px;
  cursor: pointer;
  margin-right: 10px;
}

.updateProduct {
  width: 17px;
  border: 1px solid green;
  margin-top: -3px;
  cursor: pointer;
  margin-right: 10px;
}

.updateLink {
  margin-left: 10px;
}

.footer {
  bottom: 0;
  position: relative;
  width: 100%;
  text-align: center;
  background-color: skyblue;
  padding: 10px;
}

.inputBox {
  display: block;
  margin: 25px;
  padding: 7px;
  width: 300px;
  border: 1px solid skyblue;
  font-size: larger;
}

.register,
.product {
  margin-left: 30%;
}

.invalidInput {
  color: red;
  display: block;
  margin-left: 24px;
  margin-top: -22px;
}

.successMessage {
  color: green;
  display: block;
  margin-left: 15px;
  margin-top: 37px;
  font-size: larger;
}

.searchProduct {
  width : 400px;
  margin: 20px;
  height: 40px;
  border: 1px solid skyblue;
  padding-left: 20px;
  font-size: larger;
}

.errorMessage {
  color: red;
  display: block;
  margin-left: 15px;
  margin-top: 37px;
  font-size: larger;
}

.productList {
  text-align: center;
  margin-top: 50px;
}

.productList ul {
  margin: 0px;
}

.productList ul li {
  display: inline-block;
  border: 1px solid skyblue;
  padding: 5px;
  width: 150px;
}

.login {
  margin-left: 30%;
  margin-top: 100px;
}

.appButton {
  margin: 25px;
  padding: 10px;
  width: 160px;
  background-color: skyblue;
  border: 3px solid;
  cursor: pointer;
  font-size: larger;
}
