.nav-ul li {
  display: inline-block;
  padding: 10px;
}

.nav-ul li a {
  color: #fff;
  padding: 5px;
  text-decoration: none;
}

.nav-ul {
  padding: 5px;
  margin: 0;
  background-color: skyblue;
}

.nav-right {
  text-align: right;
}

.logoutLink {
  margin-left: 803px;
}

.logo {
  width: 75px;
  float: left;
  margin-top: -9px;
  margin-left: 20px;
}

.deleteProduct {
  width: 20px;
  margin-top: -3px;
  cursor: pointer;
  margin-right: 10px;
}

.updateProduct {
  width: 17px;
  border: 1px solid green;
  margin-top: -3px;
  cursor: pointer;
  margin-right: 10px;
}

.updateLink {
  margin-left: 10px;
}

.footer {
  bottom: 0;
  position: relative;
  width: 100%;
  text-align: center;
  background-color: skyblue;
  padding: 10px;
}

.inputBox {
  display: block;
  margin: 25px;
  padding: 7px;
  width: 300px;
  border: 1px solid skyblue;
  font-size: larger;
}

.register,
.product {
  margin-left: 30%;
}

.invalidInput {
  color: red;
  display: block;
  margin-left: 24px;
  margin-top: -22px;
}

.successMessage {
  color: green;
  display: block;
  margin-left: 15px;
  margin-top: 37px;
  font-size: larger;
}

.searchProduct {
  width : 400px;
  margin: 20px;
  height: 40px;
  border: 1px solid skyblue;
  padding-left: 20px;
  font-size: larger;
}

.errorMessage {
  color: red;
  display: block;
  margin-left: 15px;
  margin-top: 37px;
  font-size: larger;
}

.productList {
  text-align: center;
  margin-top: 50px;
}

.productList ul {
  margin: 0px;
}

.productList ul li {
  display: inline-block;
  border: 1px solid skyblue;
  padding: 5px;
  width: 150px;
}

.login {
  margin-left: 30%;
  margin-top: 100px;
}

.appButton {
  margin: 25px;
  padding: 10px;
  width: 160px;
  background-color: skyblue;
  border: 3px solid;
  cursor: pointer;
  font-size: larger;
}


/* Table CSS*/
table {border-collapse: collapse; font-family: helvetica}
td, th {border:  1px solid;
      padding: 10px;
      min-width: 200px;
      background: white;
      box-sizing: border-box;
      text-align: left;
}
.table-container {
  position: relative;
  max-height:  300px;
  width: 500px;
  overflow: scroll;
}

thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background: hsl(20, 50%, 70%);
}

thead th:first-child {
  left: 0;
  z-index: 3;
}

tfoot {
  position: -webkit-sticky;
  bottom: 0;
  z-index: 2;
}

tfoot td {
  position: sticky;
  bottom: 0;
  z-index: 2;
  background: hsl(20, 50%, 70%);
}

tfoot td:first-child {
  z-index: 3;
}

tbody {
  overflow: scroll;
}

/* MAKE LEFT COLUMN FIXEZ */
tr > :first-child {
  position: -webkit-sticky;
  position: sticky; 
  background: hsl(180, 50%, 70%);
  left: 0; 
}
/* don't do this */
tr > :first-child {
  box-shadow: inset 0px 1px black;
}

/* End of Table CSS */

/* Start of Select Box CSS */

.box {
  position: relative;
  /* top: 50%; */
  /* left: 20%; */
  /* margin-left: auto; */
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  transform: translate(-50%, -50%);
}

.element {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.box select {
  background-color: #0563af;
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box::before {
  content: "\f13a";
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
}

/* End of Select Box CSS */

.selectedtable {
  font-size: 20px;
  font-family: helvetica;
}




